
    <div class="container">
        <div class="title">
          <h1 >Get in Touch</h1>
          <p >Feel free to reach out to me</p>
        </div>
        <div >
        <a href="mailto:zenatabdou@gmail.com"><img src="mail.png" alt=""></a>
        <a href="phone:1234567890"><img src="call.png" alt=""></a>
          </div>
        <div class="contact">
          <h2 >Follow Us 🖤</h2>
          <div class="git">
            <a href="https://github.com/Gabderrahmene/skillsHub" title="GitHub">
              <img src="git.png" alt="">
          </a>
      </div>
    </div>
    </div>