* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: #f0f0f0;
    min-height: 100vh;
    width: 100%;
    height: 100%;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 13svh;
    padding: 20px;
    background: linear-gradient(135deg, #ff8c42 0%, #ffa500 100%);
    border-radius: 30px;
    max-width: 500px;
    margin: 50px auto;
    box-shadow: 0 20px 50px rgba(0, 0, 0, 0.2);
    padding: 40px;
}

img{
    height: 5svh;
}
.title {
    text-align: center;
    margin-bottom: 30px;
}

h1 {
    font-size: 36px;
    font-weight: 900;
    color: #000;
    margin-bottom: 8px;
}

 p {
    color: rgba(0, 0, 0, 0.7);
    font-size: 14px;
}
a {
    color: #000000;
    text-decoration: underline;
    font-weight: 500;
    margin: 1svh ;
    display: inline-block;
    transition: color 0.3s ease;
    background-color: rgb(219, 206, 206);
    width: 5svh;
      height: 5svh;
      border-radius: 50%;
}

a:hover {
    color: #cc7a00;
}

/* Contact Box */
.contact {
    background: white;
    padding: 30px;
    border-radius: 20px;
    margin-top: 30px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 100%;
}
 h2 {
    font-size: 20px;
    font-weight: 700;
    color: #000;
    margin-bottom: 20px;
}
