@import '@angular/material/prebuilt-themes/indigo-pink.css';
form {
  min-width: 20svh;
  max-width: 40svh;
  width: 100%;
}

.case {
    min-width: 20svh;
  max-width: 50svh;
  width: 100%;
}
.case1 {
    min-width: 15svh;
  max-width: 40svh;
  width: 100%;
}
td {
  padding-right: 8px;
}
.button-row{
   display: flex;
 margin: auto;
 align-items: center;
 flex-direction: column;  
}
.border{
 background: linear-gradient(90deg, coral, orange);
 width: 40%;
 height: 42svh;
 display: flex;
 margin: auto;
 margin-top: 10%;
 align-items: center;
 flex-direction: column;
 border-radius: 2%;
 padding-top:2%;
 min-width: 20svh;
  max-width: 50svh;
  width: 100%;
}
#register{
    color: white;
    background-color: black;
    width:30% ;
    margin-top: 8%;
}
