nav {
    border: hidden;
    border-right: solid rgb(245, 136, 64) 3px;


    flex-basis: 10%;
    flex-grow: 0;
    height: 100vh;
    word-wrap: break-word;

}

h3 {
    color: rgb(255, 115, 0);
    padding: auto;
}

a {
    color: rgb(255, 115, 0);
    text-decoration: none;
    line-height: 2.5;
    font-size: 20px;
    vertical-align: middle;
    padding: 10px;
}

img {
    display: inline;
    width: 25px;
    vertical-align: middle;
}

ul {
    list-style-type: none;
}