<aside>
    <div class="profile">
        <h3>user-profile</h3>
        <div class="point">
            <figure>
                <img src="point.png" alt="" class="photo">
                <figcaption class="points">500</figcaption>
            </figure>
        </div>
        <figure class="completed">
            <img src="modulecompleted.png" alt="" class="comp">
            <figcaption>5 modules</figcaption>
            <p>completed</p>
        </figure>
        <figure class="completed">
            <img src="courscompleted.png" alt="" class="comp">
            <figcaption>50 cours</figcaption>
            <p>completed</p>
        </figure>

    </div>
</aside>