.logincase {
    display: flex;
    flex-direction: column;
    background: linear-gradient(90deg, coral, orange);
    height: 40vh;
    width: 20%;
    margin: auto;
    padding: 5px;
    border-radius: 5px;
    transition: 150ms ease;
    animation-duration: 3s;
    animation-name: login;
    align-items: center;
}

@keyframes login {
    0% {
        scale: 0%;
    }

    100% {
        scale: 100%
    }

}


.submit{
    display: flex;
    align-self: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2rem;  
}
button{
    width:80%;
}

input::placeholder {
    color: white;
}

#inputat {
    padding: 25px;
    margin-top: 50px;
}

.inputs {
    outline: none;
    border: none;
    background-color: transparent;
    font-size: 16px;
    width: 100%;
    align-self: center;
    margin: 0 auto 30px auto;
    display: flex;
    align-items: center;
    gap: 10px;
}

img {
    width: 10%;
    height: 10%;
    flex-shrink: 0;
    filter: brightness(0) invert(1);
    display: inline-block;
}

.input {
    border: solid;
    height: 20%;
    border-color: transparent;
    border-bottom-color: white;
    flex: 1;
    background-color: transparent;
    color: white;
}

h3 {
    color: white;
    padding: 5px;
    align-self: center;
}