<div class="logincase">
    <form [formGroup]="loginForm" (ngSubmit)="login_now()">
        <div id="inputat">
            <div class="inputs">
                <img src="login1.png" alt="">
                <input type="text" required class="input" placeholder="username" formControlName="email"><br>
            </div>
            <div class="inputs"><img src="lock.png" alt="">
                <input type="password" required class="input" placeholder="password" formControlName="password"><br>
            </div>
        </div>
        <div class="submit">
            <button matButton="elevated" type="submit">login</button>
                <button matIconButton (click)="switch()">
        <mat-icon>compare_arrows</mat-icon>
        </button>
        </div>
    </form>
    {{loginForm.value.email}}
    {{loginForm.value.password}}
</div>
