nav {
    border: hidden;
    border-right: solid rgb(245, 136, 64) 3px;
    flex: 1;
    height: 100vh;
    word-wrap: break-word;

}

h3 {
    color: rgb(255, 115, 0);
    padding: auto;
}

button {
    background: none;
    border: none;
    cursor: pointer;
}

a,
button {
    color: black;
    text-decoration: none;
    line-height: 2.5;
    font-size: 20px;
    vertical-align: middle;
    padding: 10px;
}

mat-icon {
    display: inline;
    width: 25px;
    vertical-align: middle;
}

li:hover {
    border-radius: 10px;
    margin: 10px;
    background-color: rgb(255, 247, 233);
    color: orange;

    a {
        color: orange;
    }
}

ul {
    list-style-type: none;
}