<ul>
    <li><mat-icon fontIcon="home"></mat-icon><a routerLink="/student/homescreen">home</a></li>
    <li><mat-icon fontIcon="search"></mat-icon><a routerLink="/student/search">search</a></li>
    <li><mat-icon fontIcon="assignment"></mat-icon><a routerLink="/student/module">module</a></li>
    <li><mat-icon fontIcon="settings"></mat-icon><a routerLink="/student/settings">settings</a></li>
    <li><mat-icon fontIcon="contact_page"></mat-icon><a routerLink="/student/contact">contact us</a></li>
    <li><mat-icon fontIcon="logout"></mat-icon><button (click)="logout_now()">log out</button></li>
</ul>