input{
    color: orange;
    border-color: orangered;
    padding: 2px;
    display: inline;
    border-radius: 10px;
    margin-bottom: 10px;
    text-align: center;
}
img{
    width: 30px;
   vertical-align: middle;
}
header{
    background-color: rgb(243, 239, 231);
}
div{
    display: inline-block;
}
.search{
   float:right;
}
