<head>
    <title>aaaa</title>
</head>

<body>
    <div class="container">
        <div class="course-box">
            <div class="title">paweb</div>


            <div class="lesson-item">
                <div class="lesson-number">1</div>
                <div class="lesson-content">
                    <div class="lesson-name">Introduction to Web Development</div>
                    <div class="lesson-description">Learn the basics of web development</div>
                </div>
                <div class="lesson-duration"><button (click)="affichage()" class="button">lire</button></div>
            </div>

            <div class="lesson-item">
                <div class="lesson-number">1</div>
                <div class="lesson-content">
                    <div class="lesson-name">Introduction to Web Development</div>
                    <div class="lesson-description">Learn the basics of web development</div>
                </div>
                <div class="lesson-duration"><button (click)="affichage()" class="button">lire</button></div>
            </div>
            <div class="lesson-item">
                <div class="lesson-number">1</div>
                <div class="lesson-content">
                    <div class="lesson-name">Introduction to Web Development</div>
                    <div class="lesson-description">Learn the basics of web development</div>
                </div>
                <div><button (click)="affichage()" class="button">lire</button></div>
            </div>
        </div>
    </div>
</body>